.game {
  width: 600px;
  height: 200px;
  border: 4px solid gray;
  margin: auto;
}

#dino {
  width: 45px;
  height: 50px;
  background-image: url(img/trex.png);
  background-size: 50px 50px;
  position: relative;
  top: 150px;
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }

  30% {
    top: 160px;
  }

  50% {
    top: 50px;
  }

  80% {
    top: 130px;
  }

  100% {
    top: 1 50px;
  }
}

#cactus {
  width: 20px;
  height: 40px;
  position: relative;
  top: 110px;
  left: 580px;

  background-image: url("img/cactus.png");
  background-size: 20px 40px;

  animation: block 1s infinite linear;
}

@keyframes block {
  0% {
    left: 580px;
  }

  100% {
    left: -20px;
  }
}
